name: GitHub Contributions

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

env:
  GH_STARS_API_TOKEN: ${{ secrets.GH_STARS_API_TOKEN }}

jobs:
  rss:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 18

      - run: npm install

      - run: node src/github-stars-contributions.js

      - uses: mikeal/publish-to-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: 'main'