name: RSS

on:
  schedule:
    - cron: "*/10 * * * *"
  workflow_dispatch:

env:
  SPACE_JELLY_TWITTER_CONSUMER_KEY: ${{ secrets.SPACE_JELLY_TWITTER_CONSUMER_KEY }}
  SPACE_JELLY_TWITTER_CONSUMER_SECRET: ${{ secrets.SPACE_JELLY_TWITTER_CONSUMER_SECRET }}
  SPACE_JELLY_TWITTER_ACCESS_TOKEN_KEY: ${{ secrets.SPACE_JELLY_TWITTER_ACCESS_TOKEN_KEY }}
  SPACE_JELLY_TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.SPACE_JELLY_TWITTER_ACCESS_TOKEN_SECRET }}

jobs:
  rss:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: 12

      - run: npm install

      - run: node src/rss-colbyfayockcom.js
      - run: node src/rss-spacejellydev.js

      - run: node src/rss-cleanup.js

      - uses: mikeal/publish-to-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH_NAME: 'main'